CONFIG_DIR=/config
DOWNLOADS_DIR=/downloads

WATCH_FOLDER=/watch
INCOMPLETE_FOLDER=/incomplete

TORRENTING_PORT=6881
WEBUI_PORT=8080
QUI_PORT=7476

# container env
# user running service
PUID=1000
# group running serivice
PGID=1000

TZ=Etc/UTC